<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Play More</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="me-auto mb-2 mb-lg-0">
                <form action="/filter" method="get" class="d-flex">
                    <input type="text" name="search" id="search-term" class="form-control"
                        value="{{#if searchTerm}}{{searchTerm}}{{/if}}">
                    <button type="submit" class="btn btn-light filter-search">Search</button>
                </form>
            </div>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                {{#if userLoggedIn}}
                
                <li class="nav-item">
                    <a class="nav-link" href="/playground">Playgrounds</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/quiz">Sport Trevia</a></li>
                <li class="nav-item"><a class="nav-link" href="/sport-event">Sport watching event</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/logout" id="logout">Logout</a></li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Playgrounds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/user/login" id="auth">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>