<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">


        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-2 pt-5 pt-xl-0 mt-xl-n5">

          <form class="admin_form" id="login-form" method="POST" action="/playground">

            <h3 class="fw-normal mb-3 pb-3 admin_header" style="letter-spacing: 1px;">ADMIN</h3>
            <form id="login-form" method="POST" action="/playground" class="new-post-form">
              <label for="username" class="admin_form_text">Username</label>
              <input id="username" type="text" name="username" placeholder="Enter Username" class="full-width-input" />

              <label for="password" class="admin_form_text">Password</label>
              <input id="password" type="password" name="password" placeholder="Enter Password"
                class="full-width-input" />

              <button id="admin-login"class="btn btn-primary admin_button_login" type="submit">Login</button>
            </form>




          </form>
         

        </div>
         {{#if error}}
          <div class="alert alert-danger mt-2" role="alert">
            {{error}}
          </div>
          {{/if}}

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="../public/images/image1.jpg" alt="Login image" class="w-100 vh-100"
          style="object-fit: cover; object-position: left;">
      </div>

    </div>
  </div>
</section>


<script>
  function displayRadioValue() {
    document.getElementById("result").innerHTML = "";
    var ele = document.getElementsByTagName('input');

    for (i = 0; i < ele.length; i++) {

      if (ele[i].type = "radio") {

        if (ele[i].checked)
          document.getElementById("result").innerHTML
            += ele[i].name + " Value: "
            + ele[i].value + "<br>";
      }
    }
  }
</script>